.dream {

	.container {
		max-width: 1170px;
		min-height: 1px;
		width: 100%;
		margin: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: {
			left: 15px;
			right: 15px;
		}
	}


}