.dream {

	.wrapper {
		clear: both;
		width: 100%;
	}

	// Columns
	$i: 12;
	@while $i > 0 {
		.col-#{$i} {
			width: calc(100% / 12 * #{$i});
			float: left;
			min-height: 1px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		$i: $i - 1;
	}

	$i: 12;
	@while $i > 0 {
		.lg-#{$i} {
			@media (min-width: 1441px) {
				width: calc(100% / 12 * #{$i});
				float: left;
				min-height: 1px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		$i: $i - 1;
	}

	$i: 12;
	@while $i > 0 {
		.md-#{$i} {
			@media (max-width: 992px) {
				width: calc(100% / 12 * #{$i});
				float: left;
				min-height: 1px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		$i: $i - 1;
	}

	$i: 12;
	@while $i > 0 {
		.sm-#{$i} {
			@media (max-width: 414px) {
				width: calc(100% / 12 * #{$i});
				float: left;
				min-height: 1px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		$i: $i - 1;
	}


	// Rows
	$i: 20;
	@while $i > 0 {
		.row-#{$i} {
			height: calc(50px * #{$i});
			overflow: auto;
		}
		$i: $i - 1;
	}
	.row-full {
		height: 100vh;
	}

}