.dream {

	.section {
		clear: both;
		width: 100%;
	}

	$i: 12;
	@while $i > 0 {
		.col-#{$i} {
			width: calc(100% / 12 * #{$i});
			float: left;
		}
		$i: $i - 1;
	}

	$i: 100;
	@while $i > 0 {
		.row-#{$i} {
			height: calc(50px * #{$i});
			overflow: auto;
		}
		$i: $i - 1;
	}

}