.dream {

	.clear {
		clear: both;
	}

	// Align
	.v-center {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.center {
		text-align: center;
	}

	.hard-center {
		@extend .v-center;
		justify-content: center;
	}

	// Font Weight
	.bold {
		font-weight: bold;
	}

	// HTML viewer
	.pre {
		padding: 10px;
		margin-top: 0;
		margin-bottom: 0;
		word-break: normal;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		background: #272822;
		color: #fff;
	}

	.code {
		padding: 0px 3px;
		background: #eee;
		border-radius: 2px;
	}

	// Margin
	$i: 10;
	@while $i > 0 {
		$x: $i * 5;
		.m {
			&-#{$x} {
				margin: #{$x}px;
			}
			&-t-#{$x} {
				margin-top: #{$x}px;
			}
			&-b-#{$x} {
				margin-bottom: #{$x}px;
			}
			&-l-#{$x} {
				margin-left: #{$x}px;
			}
			&-r-#{$x} {
				margin-right: #{$x}px;
			}
		}
		$i: $i - 1;
	}

	// Padding
	$i: 10;
	@while $i > 0 {
		$x: $i * 5;
		.p {
			&-#{$x} {
				padding: #{$x}px;
			}
			&-t-#{$x} {
				padding-top: #{$x}px;
			}
			&-b-#{$x} {
				padding-bottom: #{$x}px;
			}
			&-l-#{$x} {
				padding-left: #{$x}px;
			}
			&-r-#{$x} {
				padding-right: #{$x}px;
			}
		}
		$i: $i - 1;
	}

}