.dream {

	.clear {
		clear: both;
	}

	// Align
	.v-center {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.center {
		text-align: center;
	}

	.hard-center {
		@extend .v-center;
		justify-content: center;
	}

	// Font Weight
	.bold {
		font-weight: bold;
	}

	// HTML viewer
	.pre {
		padding: 10px;
		margin-top: 0;
		margin-bottom: 0;
		word-break: normal;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		background: #272822;
		color: #fff;
	}

	.code {
		padding: 0px 3px;
		background: #eee;
		border-radius: 2px;
	}

}