.dream {

	.clear {
		clear: both;
	}

	// Object Align
	.v-center {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.h-center {
		display: flex;
		justify-content: center;
	}

	.vh-center {
		@extend .v-center;
		justify-content: center;
	}

	// Font Style
	.f- {
		&i {
			font-style: italic;
		}

		&u {
			text-decoration: underline;
		}

		&b {
			font-weight: bold;
		}
	}

	// HTML viewer
	.pre {
		padding: 10px;
		margin-top: 0;
		margin-bottom: 0;
		word-break: normal;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
		background: #272822;
		color: #fff;
	}

	.code {
		padding: 0px 3px;
		background: #eee;
		border-radius: 2px;
	}

	// Line Height
	$i: 10;
	@while $i >= 0 {
		$x: $i * 5;
		.lh-#{$i} {
			line-height: #{$x}px;
		}
		$i: $i - 1;
	}

}