// Font
$font-fm-sans-serif				: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-fm-serif					: 0;
$font-fm-handwriting			: 0;
$font-fm-mod					: 0;

$font-sz-h1						: 0;
$font-sz-h2						: 0;
$font-sz-h3						: 0;
$font-sz-h4						: 0;
$font-sz-h5						: 0;
$font-sz-h6						: 0;
$font-sz-p						: 0;

// Color
$color-bg-primary				: 0;

$color-bg-red					: 0;
$color-fg-red					: 0;

$color-bg-green					: 0;
$color-fg-green					: 0;

$color-bg-blue					: 0;
$color-fg-blue					: 0;

$color-bg-cyan					: 0;
$color-fg-cyan					: 0;

$color-bg-magenta				: 0;
$color-fg-magenta				: 0;

$color-bg-yellow				: 0;
$color-fg-yellow				: 0;

$color-bg-orange				: 0;
$color-fg-orange				: 0;

// MediaQuery
$media-phone					: 0;
$media-tablet					: 0;
$media-desktop					: 0;
$media-tv						: 0;
$media-container				: 0;